<%= render 'layouts/errors', :object => @question %>

<%= form_for @question, :html => {:class => "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :user, class: "control-label" %>
    <%= f.text_field :user, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :inquiry, class: "control-label" %>
    <%= f.text_field :inquiry, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :post, class: "control-label" %>
    <%= f.text_area :post, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
