<% content_for :title, "Question | StackOverflow" %>

<%= render 'question' %>

<% if user_signed_in? && current_user.username == @question.user.username %>
  <%= link_to "Edit question", edit_question_path(@question), remote: true %>
<% end %>

<h3><%= pluralize(@comments.size, 'Answer') %> <small><%= link_to "Answer this question", new_question_comment_path(@question), remote: true %></small></h3>

<div id="comment">
</div>

<div id='comments'>
  <%= render @comments %>
</div>