<% content_for :title, "Question | StackOverflow" %>

<h1><%= @question.inquiry %><small> - <%= @question.user.username %></small></h1>

<%= link_to "Edit question", edit_question_path(@question) %>

<div class="lead">
  <%= simple_format(@question.post) %>
</div>

<% if @comments.any? %>
  <h3>Answers <small><%= link_to "Answer this question", new_question_comment_path(@question) %></small></h3>

  <ul class="list-unstyled">
    <% @comments.each do |comment| %>
      <li class="well well-sm"><%= simple_format(comment.answer) %> <br />- <%= comment.user.username %></li>
    <% end %>
  </ul>
<% else %>
  <p><%= link_to "Be the first to answer this question", new_question_comment_path(@question) %></p>
<% end %>