<div class="well well-sm" id='comment_<%= comment.id %>'>
  <%= simple_format(comment.answer) %> - <%= comment.user.username %>
  <% if user_signed_in? && current_user == comment.user %>
    <%= link_to "Edit", edit_question_comment_path(@question, comment) %> |
    <%= link_to "Delete", question_comment_path(@question, comment),
                          :data => { :confirm => "You sure?",
                                     :method => "delete"} %>
  <% end %>
</div>